.pagination-button {
  padding: 8px 12px;
  margin-right: 5px; /* Adjust the margin between buttons */
  border: 1px solid #ddd; /* Border color for buttons */
  background-color: #fff; /* Background color for buttons */
  color: #333; /* Text color for buttons */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #f2f2f2; /* Background color on hover for buttons */
}

.pagination .active a,
.pagination .active button {
  background-color: #3498db; /* Background color for the selected page */
  color: #fff; /* Text color for the selected page */
}